.searchInput{
    width: 60vw;
}
.searchInput :global(.after){
    width: 25% !important;
    border-radius: 0 2px 2px 0 !important;
    cursor: pointer;
}
.searchInput input{
    width: 75% !important;
    text-align: left !important;
    padding: 0 1vw !important;
    background-color: #ffffff !important;
    font-size: 3.5vw!important;
}
.selectInput :global .selectBox{
    font-size: 3.5vw !important;
}