.container{
    border-bottom: 1px solid #2173b9;
    color: #ffffffd1;
}
.icon{
    width: 20%;
}
.icon img{
    filter: invert(40%) sepia(61%) saturate(743%) hue-rotate(167deg) brightness(89%) contrast(90%);
    width: 1.7vw;
}
.content{
    width: 80%;
}
.thisButton{
    height: 5vh;
    padding: 0 1.5vw;
    background-color: #2173b98a;
    color: #fbfeff;
    border-radius: 55px;
}