.container{
    height: 90vh;
    position: fixed;
    bottom: 0;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;

}

.wrapper{
    height: 100%;
    position: absolute;
    background-color: #00000045;
    top: 0;
}