.container{
    height: 90vh;
    width: 100%;
    margin: 0 auto;
}
.content{
    width: 40%;
    border-radius: 5px;
    background-clip: border-box;
    color: white;
}
.imageBox{
    width: 60%;
    height: 90vh;
}
.imageBox img:first-child{
    width: 17vw;
}
.imageBox img:last-child{
    width: 30vw;
    filter: invert(40%) sepia(61%) saturate(743%) hue-rotate(167deg) brightness(89%) contrast(90%);
    margin: 10vh 0vw;
}