.container{
    height: 90vh;
    width: 100%;
    /*width: 86% !important;*/
    margin: 0 auto;
    /*background-color: #ffffff;*/
    /*
    box-shadow: -1px 1px 11px 0px #c7c7c7, 1px -5px 11px 0px #e0e0e0;
    */
    /*border-radius: 10px;*/
}
.content{
    width: 40%;
    /*background-color: #dad9d9ed;*/
    border-radius: 5px;
    background-clip: border-box;
    /*border: 1px solid #e7eaf3;*/
    /*border-radius: .5rem;*/
    color: white;
}