.thisInput{
    width: 40vw;
}
.thisImage{
    width: 23vw;
}
.thisInput :global(.after){
    width: 20% !important;
    border-radius: 0 2px 2px 0 !important;
    cursor: pointer;
}
.thisInput input{
    width: 80% !important;
    text-align: left !important;
    padding: 0 1vw !important;
    background-color: #ffffff !important;
}