.container{
    /*height: 30%;*/
    margin: 0 auto;
}
.content{
    /*background-color: #dad9d9ed;*/
    border-radius: 5px;
    background-clip: border-box;
    /*border: 1px solid #e7eaf3;*/
    /*border-radius: .5rem;*/
    color: white;
}