.container{
    height: 80vh;
    border-radius: 8px;
    border: 2px solid #2173b9;
}
.header{
    height: 10%;
    background-color: #2173b9;
    border-radius: 6px 6px 0 0;
    color: #ffffff;
}
.content{
    height: 81%;
}
.footer{
    height: 9%;
    border-radius: 0 0 6px 6px;
}
.thisButton {
    width: 96%;
    background: #911c18;
    color: #f1ecec;
    bottom: 0;
}