
.container{
    height: 80vh;
    /*background-color: #1ee406;*/
    border-radius: 8px;
    border: 1px dotted #bdbdc4;
    background-color: #dadada;
}
.header{
    height: 13%;
    /*background-color: var(--nilBlue);*/
    background-color: #003675;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
}
.content{
    height: 75%;
    /*background-color: rgba(229, 218, 218, 0.51);*/
    /*background-color: #2776bb26;*/
}
.footer{
    height: 12%;
    /*background-color: #ffffff;*/
    border-radius: 0 0 8px 8px;
    border-top: 1px dotted #bdbdc4;
}

.thisButton {
    width: 98%;
    background: #003675;
    color: #eaeaea;
    bottom: 0;
}